<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="de-DE" dir="ltr">
<head>
	<title>SubOptimals - Freizeit Projekte</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta name="msvalidate.01" content="1BE85214F26A90A132ACE0158927CEAA">
	<link rel="shortcut icon" href="img/favicon.ico">
	<link href="css/page.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
	<div id="header">
		<div id="header_inner">
			<a id="header_logo" name="header_logo" href="https://github.com/SubOptimal" title="meine Repositories auf GitHub">
				<img alt="SubOptimal logo - Link zu allen Repositories auf GitHub" src="img/logo.png" height="40" width="180">
			</a>
			<div id="menu">
				<div id="menu_inner">
					<ul>
						<li{% if page.code_lang == 'none' %} class="selected"{% endif %}>
							<a href="/index_de.html" title="Hauptseite">
								<span>/</span>
							</a>
						</li>
						<li{% if page.code_lang == 'android' %} class="selected"{% endif %}>
							<a href="/index_de.html" title="Projekte für Android Geräte">
								<span>Android</span>
							</a>
							<ul>
								<li>
									<a href="/android-network-discovery_de.html">
										<span>android-network-discovery</span>
									</a>
								</li>
							</ul>
						</li>
						<li{% if page.code_lang == 'cpp' %} class="selected"{% endif %}>
							<a href="/index_de.html" title="C/C++ projects">
								<span>C/C++</span>
							</a>
							<ul>
								<li>
									<a href="/ctapi-cyberjack_de.html">
										<span>ctapi-cyberjack</span>
									</a>
								</li>
							</ul>
						</li>
						<li{% if page.code_lang == 'java' %} class="selected"{% endif %}>
							<a href="/index_de.html" title="Java Projekte">
								<span>Java</span>
							</a>
							<ul>
								<li>
									<a href="/jMemorize_de.html">
										<span>jMemorize</span>
									</a>
								</li>
								<li>
									<a href="/libevatr_de.html">
										<span>libevatr</span>
									</a>
								</li>
								<li>
									<a href="/WMS-Setup_de.html">
										<span>WMS-Setup</span>
									</a>
								</li>
								<li>
									<a href="/zon-java_de.html">
										<span>zon-java</span>
									</a>
								</li>
							</ul>
						</li>
						<li{% if page.code_lang == 'perl' %} class="selected"{% endif %}>
							<a href="/index_de.html" title="Perl Projekte">
								<span>Perl</span>
							</a>
							<ul>
								<li>
									<a href="/extm3u_de.html">
										<span>extm3u.pl</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<div id="continue_flow"></div>
				</div>
			</div>
		</div>
	</div>
{{ content }}	<div id="footer">
		<a id="language_de" name="language_de" href="{{ page.name }}_de.html" title="Webseite auf deutsch anzeigen [ALT-G]" accesskey="g">
			<img class="country_flag" alt="Flagge - Deutschland" src="img/de.png">
		</a>
		<a id="language_en" name="language_en" href="{{ page.name }}.html" title="Webseite auf English anzeigen [ALT-E]" accesskey="e">
			<img class="country_flag" alt="Flagge - Vereinigtes Königreich" src="img/en.png">
		</a>
		&copy;&nbsp;2011-2013&nbsp;&nbsp;/&nbsp;&nbsp;<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="Lizens der Webseite" target="_blank">Creative Commons License</a>
	</div>
</body>
</html>
